.sidebar{
    flex: 0.2;
    max-width: 300px;
    padding-right: 20px;

}
.sidebar_compose{
    margin-top: 15px !important;
    margin-left: 10px !important;
    margin-bottom: 15px !important;
    text-transform: capitalize !important;
    padding: 15px !important;
    border-radius: 30px !important;
    background-color: white !important;
    width: 130px !important;
}
.sidebar_compose .MuiSvgIcon-root{
    color: gray;
}
.sidebar .MuiSvgIcon-root{
    color: rgba(255,255,255,0.87);;
}